{% extends "general/main.html"%}
{% load static %}

{% block title %} Proyecto Final {% endblock %}

{% block content%}
<section class="hero-wrap js-fullheight" style="background-image: url('images/bg_3.jpg');" data-section="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
        <div class="col-md-6 pt-5 ftco-animate">
            <div class="mt-5">
                <span class="subheading">Bienvenido</span>
              <h1 class="mb-4">Estamos aqui <br>para su cuidado</h1>
              <p class="mb-4">Pagina dedicada al reconocimiento de enfermedades mediante imagenes, con varios años de experiencia y especializacion en deteccion de enfermedades</p>
              <p><a href="{% url 'nosotros' %}" class="btn btn-primary py-3 px-4">Conocenos</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock%}