{% extends "general/main.html"%}
{% load static %}

{% block title %} Nosotros {% endblock %}

{% block content%}
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="nosotros">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img d-flex align-self-stretch align-items-center" style="background-image: url('{% static 'pagina1/images/about.jpg' %}');">
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 py-md-5">
                <div class="py-md-5">
                    <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate p-4 p-lg-5">
                    <h2 class="mb-4">Reconocimiento de enfermedades por imagenes</h2>
                    <p>
                  
                      
                      Bienvenidos a nuestra página web, un recurso dedicado al reconocimiento y diagnóstico de enfermedades a través del uso avanzado de tecnologías de imagen médica. Con varios años de experiencia en el campo, nos hemos especializado en la detección temprana de diversas enfermedades, contribuyendo así a mejorar significativamente las opciones de tratamiento y los resultados para los pacientes.</p>
                 
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


  {%endblock%}