{% extends "general/main.html"%}
{% load static %}

{% block title %} Servicios {% endblock %}

{% block content%}
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>

<section class="ftco-section ftco-no-pt ftco-no-pb" id="department-section">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex">
                <div class="img img-dept align-self-stretch" style="background-image: url('{% static 'pagina1/images/dept-1.jpg' %}');"></div>
            </div>

            <div class="col-md-8">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="department-wrap p-4 ftco-animate">
                            <div class="text p-2 text-center">
                                <div class="icon">
                                    <span class="flaticon-stethoscope"></span>
                                </div>
                                <h3><a href="{% url 'contactos' %}">Neurologia</a></h3>
                                <p>Estudio y tratamiento de las enfermedades del sistema nervioso.</p>
                            </div>
                        </div>
                        <div class="department-wrap p-4 ftco-animate">
                            <div class="text p-2 text-center">
                                <div class="icon">
                                    <span class="flaticon-stethoscope"></span>
                                </div>
                                <h3><a href="{% url 'contactos' %}">Traumatologia</a></h3>
                                <p>Estudio y diagnóstico de traumatismos o lesiones en el sistema músculo-esquelético del cuerpo humano</p>
                            </div>
                        </div>
                        
                    </div>

                    <div class="col-md-4">
                        <div class="department-wrap p-4 ftco-animate">
                            <div class="text p-2 text-center">
                                <div class="icon">
                                    <span class="flaticon-stethoscope"></span>
                                </div>
                                <h3><a href="{% url 'contactos' %}">Oftalmologia</a></h3>
                                <p>Estudia las enfermedades de los ojos y su tratamiento</p>
                            </div>
                        </div>
                        <div class="department-wrap p-4 ftco-animate">
                            <div class="text p-2 text-center">
                                <div class="icon">
                                    <span class="flaticon-stethoscope"></span>
                                </div>
                                <h3><a href="{% url 'contactos' %}">Cardiologia</a></h3>
                                <p>Estudio y diagnóstico de las enfermedades del corazón y del sistema circulatorio</p>
                            </div>
                        </div>
                        
                    </div>

                    <div class="col-md-4">
                        <div class="department-wrap p-4 ftco-animate">
                            <div class="text p-2 text-center">
                                <div class="icon">
                                    <span class="flaticon-stethoscope"></span>
                                </div>
                                <h3><a href="{% url 'contactos' %}">Dental</a></h3>
                                <p>Estudio, diagnóstico, tratamiento y prevención de las enfermedades del aparato estomatognático</p>
                            </div>
                        </div>
                        <div class="department-wrap p-4 ftco-animate">
                            <div class="text p-2 text-center">
                                <div class="icon">
                                    <span class="flaticon-stethoscope"></span>
                                </div>
                                <h3><a href="{% url 'contactos' %}">Rayos-X</a></h3>
                                <p>Sirven para mostrar huesos rotos, tumores, lesiones, ayudando a mejorar la calidad de vida y salvándola en muchos casos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
{%endblock%}